# root exclusions
dataModel.html
docker-compose.yaml
.vscode

# backend exclusions
backend/node_modules
backend/env.sh
backend/package-lock.json

# frontend exclusions
frontend/node_modules
frontend/dist
frontend/package-lock.json
frontend/.env*

# nginx exclusions
nginx/

# keystone exclusions
keystone/