/* Foro.css */
.foro-title {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.foro-button {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.foro-button:hover {
  background-color: #45a049;
}
.foro-list {
  margin-top: 20px;
}

.foro-item {
  padding: 10px;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.foro-item a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.foro-item a:hover {
  text-decoration: underline;
}

.foro-icon-edit {
  margin-left: auto; /* Mover los íconos a la derecha */
  cursor: pointer;
  color: #555;
  display: inline-block;
}

.foro-icon-delete {
  margin-left: 10px;
  cursor: pointer;
  color: #555;
  display: inline-block;
}

.foro-icon:hover {
  color: #000;
}


.loading-message {
  text-align: center;
  font-size: 1.2em;
  color: #555;
}
