:root {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #D3D3D3;
}

.user-session {
    background-color: #D3D3D3;
    font-size: 18px;
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 908px) {
    .user-session {
        top: 26%;
    }
}

@media (max-width: 768px) {
    .user-session {
        top: 20%;
    }
}

@media (max-width: 600px) {
    .user-session {
        top: 22%;
    }
}

@media (max-width: 513px) {
    .user-session {
        top: 29%;
        padding: 10px; /* Ajusta según sea necesario */
        margin-top: 10px;
        font-size: 13px;
    }
}