.main-container {
  max-width: 800px;
  margin: 40px auto 20px auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  min-height: 20vh;
  text-align: center; 
}

.center-container h1 {
  margin-bottom: 20px; 
}


label {
  display: block;
}

.form {
  width: 400px;
  margin: 0 auto;
}

.input-login-text, 
.input-login-password {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.button,
button {
  background-color: #007e50;
  padding: 10px;
  border: 0;
  min-width: 100px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #468276;
}