label {
  display: block;
}

.form {
  width: 400px;
  margin: 0 auto;
}

.input-login-text, 
.input-login-password {
  display: block;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  margin: 5px 0 10px 0;
}

.button,
button {
  background-color: #007e50;
  padding: 10px;
  border: 0;
  min-width: 100px;
  border-radius: 5px;
  color: white;
}

button:hover {
  background-color: #468276;
}