.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 170px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll; /* Agrega esta línea para permitir el desplazamiento */
}

.modal-content {
  position: relative;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  /* max-height: 5000px; Elimina esta línea o ajusta el valor según sea necesario */
  padding-bottom: 100px;
  overflow: scroll; /* Agrega esta línea para permitir el desplazamiento vertical */
}

.modal-close {
  padding-top: 50px;
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}