:root {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  }
  
  body {
    padding: 0;
    margin: 0;
    background-image: url(./assets/web-background.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  label {
    display: block;
  }
  
  .form {
    width: 400px;
    margin: 0 auto;
  }
  
  input[type="text"],
  [type="password"] {
    display: block;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    margin: 5px 0 10px 0;
  }
  
  input[type="button"],
  button {
    background-color: #007e50;
    padding: 10px;
    border: 0;
    min-width: 100px;
    border-radius: 5px;
    color: white;
  }

  button:hover {
    background-color: #468276;
  }
  
  nav {
    background: rgb(126,217,87);
    background: linear-gradient(90deg, rgba(126,217,87,1) 0%, rgba(0,126,80,1) 35%, rgba(0,151,178,1) 100%);
  }
  
  nav ul {
    margin: 0;
  }
  
  nav ul li {
    display: inline-block;
    padding: 10px;
  }
  
  a {
    color: #000000;
    text-decoration: none;
  }
  
  .dashboard {
    width: 500px;
    margin: auto;
  }
  
  .errorMessage {
    background-color: #f2dede;
    color: #a94442;
    padding: 10px;
  }